
<% @user.errors.full_messages.each do |message| %>
  <div><%= message %></div>
<% end %>

<%= form_with model: @user do |form| %>
  <%= form.label :email, 'Email:' %>
  <%= form.email_field :email %><br><br>
  <%= form.label :username, 'Username:' %>
  <%= form.text_field :username %><br><br>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password %><br><br>
  <%= form.submit 'Update user' %>
<% end%>